.main-container {
  width: 100%;
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
}

.flexrows {
  display:flex;
  flex-direction: column;
}

.flexcols {
  display:flex;
  flex-direction: row;
}

.flexkid {
  margin: 10px;
  padding: 10px;
  flex : 1 1 auto;
}

.full-script {
  max-width: 30%;
}

.white-back {
  padding: 17px;
  background: white;
}

.colblock {
  max-width: 500px;
}

.script-header {
  max-height: 80px;
}

.script-editor {
  overflow-y: auto;
}

.script-buttons {
  max-height: 80px;
  align-items: center;
  margin: auto;
}

.cue-script {
  overflow-y: auto;
}

.cue-selector {
  overflow-y: auto;
}