.main-container {
    width: 100%;
    height: 100%;
}

.flexrows {
    display:flex;
    flex-direction: column;
}

.flexcols {
    display:flex;
    flex-direction: row;
}

.flexkid {
    flex : 1 1 auto;
}
